*.pdf
*.o
*.a
# Unignore all with extensions - ignore files without extensions (compiled program)
*
!/**/
!*.*
*.o
*.pdf
*.swp
# exclude everything
project/bin/result/*

# exception to the rule
!project/bin/result/.gitkeep 
